.header-container {
    background-color: transparent;
    // border: solid red 1px;
    height: 150px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0,0.09);

}

.header-content {
    display: flex;
    height: 100%;
    width: 100%;

    .left-content {
        // border: solid orange 1px;
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        .submenu {
            color: grey;
            font-size: 30px;
            cursor: pointer;
            flex: 1;
        }

        .header-logo {
            width: 81%;
            height: 95%;
            cursor: pointer;
            background: url('../../../../assets/images/worldkeyslogo.png') center center no-repeat;
        }
    }

    .center-content {
        // border: solid blue 1px;
        height: 100%;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-are {
            margin-left: 50px;
            margin-right: 20px;
            border: solid black 1px;
            border-radius: 30px;
            height: 30%;
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .search-icon {
                padding-left: 10px;
                color: black;
                font-size: 20px;
            }

            .search-input {
                height: 100%;
                width: 90%;
                border-radius: 20px;
                padding-left: 15px;
                font-size: 15px;
            }
        }
        .child-content {
            display: flex;
            align-items: center;
            justify-content: center;
            // border: solid red 1px;
            color: black;
            height: 80%;
            flex: 1;
        }
    }

    .right-content {
        // border: solid yellowgreen 1px;
        height: 100%;
        // width: 15%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .chat {
            color: blue;
            cursor: pointer;
        }
        .btnLogin {
            font-weight: 600;
            background-color: white;
            border: 2px solid black;
            height: 28%;
            width: 28%;
            margin: 10px;
        }

        .btnSignup {
            font-weight: 600;
            background-color: black;
            color: white;
            width: 28%;
            height: 28%;
        }
    }
}
